### Análise Exploratória de Dados

Para essa etapa será realizada uma análise exploratória dos dados baseado nas bases construídas e transformadas das ações negociadas na BOVESPA e NASDAQ/NYSE. A análise será realizada separadamente para cada um dos mercados.

In [2]:
#bibliotecas necessárias para desenvolvimento
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt

### BOVESPA

In [10]:
#importando a base de dados construída
df_b = pd.read_csv('df_b.csv')

In [11]:
df_ny.head()

,data,DDD,MMM,EGHT,AOS,ATEN,AIR,ABB,ABT,ABBV,...,ZG,ZION,ZIONL,ZIONO,ZIONP,ZKIN,ZS,ZUMZ,ZYNE,ZYXI
0,2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-03,-0.052049,-0.038381,-0.017007,-0.024451,-0.031125,-0.021866,-0.020203,-0.048344,-0.033504,...,-0.010933,-0.005547,0.000000,0.001177,0.019162,-0.065133,-0.012385,-0.013340,-0.013532,-0.024520
2,2019-01-04,0.037591,0.040317,0.060456,0.039293,0.024652,0.025065,0.035351,0.028142,0.031709,...,0.025975,0.030251,-0.005670,0.012858,0.011025,0.126881,0.060445,0.024995,0.086103,0.045068
3,2019-01-07,0.051099,-0.002302,0.046275,0.017747,0.008084,0.012695,-0.003636,0.014865,0.014490,...,0.005503,0.003981,0.013414,0.004635,0.008929,0.017805,0.041961,0.046268,0.000000,0.003384
4,2019-01-08,0.006437,0.004182,0.020347,0.024198,0.039468,0.025429,0.014463,-0.012079,0.004637,...,0.026439,0.009073,0.000000,0.013017,-0.000196,-0.092373,0.009596,0.014327,0.029559,-0.006780

In [13]:
# descrição das variaveis
df_b.describe()

,ALPA4.SA,ABEV3.SA,AMER3.SA,AZUL4.SA,B3SA3.SA,BPAN4.SA,BBSE3.SA,BRML3.SA,BBDC3.SA,BBDC4.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
count,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,...,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000
mean,0.000404,-0.000037,-0.001059,-0.000994,0.000331,0.001316,-0.000069,-0.000410,-0.000344,-0.000264,...,-0.000040,-0.000017,0.001180,-0.000915,-0.000357,0.000314,-0.000429,-0.000469,0.001301,-0.000639
std,0.030690,0.021191,0.041358,0.047575,0.027049,0.044940,0.019115,0.028822,0.023814,0.024105,...,0.018187,0.020820,0.028150,0.032064,0.034119,0.027612,0.044220,0.026774,0.025876,0.036603
min,-0.233994,-0.171759,-0.185997,-0.459937,-0.175787,-0.410084,-0.099906,-0.272886,-0.154898,-0.154019,...,-0.131920,-0.159900,-0.166569,-0.240265,-0.238674,-0.281822,-0.378834,-0.165973,-0.230921,-0.290010
25%,-0.013976,-0.011100,-0.024367,-0.019766,-0.015190,-0.019052,-0.010089,-0.013949,-0.012844,-0.012467,...,-0.009101,-0.010971,-0.013168,-0.016577,-0.017508,-0.013779,-0.024537,-0.015062,-0.011841,-0.020375
50%,0.000000,0.000000,-0.003527,-0.000778,-0.000190,-0.002061,0.000807,-0.001137,0.000000,-0.000536,...,0.000000,-0.000776,0.001721,-0.001494,-0.001287,0.000000,0.000000,-0.000181,0.001116,-0.001286
75%,0.014845,0.010530,0.020632,0.018082,0.014971,0.018557,0.010261,0.013621,0.011833,0.012378,...,0.008411,0.010868,0.016390,0.014485,0.016615,0.013729,0.021659,0.012954,0.014909,0.018349
max,0.254025,0.094139,0.242125,0.261392,0.176007,0.380464,0.102158,0.142900,0.151240,0.155866,...,0.116196,0.094975,0.180650,0.210112,0.193863,0.193574,0.193050,0.139489,0.130102,0.207496

### NASDAQ/NYSE

In [8]:
#importando a base de dados construída
df_ny = pd.read_csv('df_ny.csv')

In [9]:
df_ny.head()

,data,DDD,MMM,EGHT,AOS,ATEN,AIR,ABB,ABT,ABBV,...,ZG,ZION,ZIONL,ZIONO,ZIONP,ZKIN,ZS,ZUMZ,ZYNE,ZYXI
0,2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-03,-0.052049,-0.038381,-0.017007,-0.024451,-0.031125,-0.021866,-0.020203,-0.048344,-0.033504,...,-0.010933,-0.005547,0.000000,0.001177,0.019162,-0.065133,-0.012385,-0.013340,-0.013532,-0.024520
2,2019-01-04,0.037591,0.040317,0.060456,0.039293,0.024652,0.025065,0.035351,0.028142,0.031709,...,0.025975,0.030251,-0.005670,0.012858,0.011025,0.126881,0.060445,0.024995,0.086103,0.045068
3,2019-01-07,0.051099,-0.002302,0.046275,0.017747,0.008084,0.012695,-0.003636,0.014865,0.014490,...,0.005503,0.003981,0.013414,0.004635,0.008929,0.017805,0.041961,0.046268,0.000000,0.003384
4,2019-01-08,0.006437,0.004182,0.020347,0.024198,0.039468,0.025429,0.014463,-0.012079,0.004637,...,0.026439,0.009073,0.000000,0.013017,-0.000196,-0.092373,0.009596,0.014327,0.029559,-0.006780

In [14]:
# descrição das variaveis
df_ny.describe()

,DDD,MMM,EGHT,AOS,ATEN,AIR,ABB,ABT,ABBV,ANF,...,ZG,ZION,ZIONL,ZIONO,ZIONP,ZKIN,ZS,ZUMZ,ZYNE,ZYXI
count,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,...,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000
mean,-0.000229,-0.000563,-0.001730,0.000121,0.000819,-0.000049,0.000331,0.000368,0.000498,-0.000309,...,-0.000039,0.000233,-0.000107,-0.000017,-0.000132,-0.000627,0.001513,0.000128,-0.001654,0.001348
std,0.053136,0.017798,0.039425,0.019429,0.032195,0.038020,0.018376,0.017461,0.017206,0.041368,...,0.040760,0.026012,0.012246,0.016818,0.022018,0.057095,0.038447,0.034190,0.057980,0.046271
min,-0.218706,-0.138631,-0.306467,-0.095198,-0.196873,-0.411801,-0.130132,-0.102982,-0.177363,-0.336622,...,-0.261951,-0.128362,-0.135290,-0.217466,-0.294928,-0.208055,-0.215261,-0.151172,-0.663024,-0.260845
25%,-0.024709,-0.008474,-0.018202,-0.010140,-0.013746,-0.013716,-0.008620,-0.007672,-0.007327,-0.020196,...,-0.020290,-0.014001,-0.003203,-0.004020,-0.004961,-0.028573,-0.016726,-0.020073,-0.027493,-0.021874
50%,-0.000940,0.000113,-0.000497,0.000888,0.001367,0.000198,0.001076,0.001047,0.001254,0.002681,...,0.001478,0.000605,0.000000,0.000000,0.000000,-0.003160,0.003201,-0.000959,-0.003839,0.000000
75%,0.022862,0.008265,0.016196,0.011251,0.015744,0.014413,0.009966,0.009181,0.008830,0.022326,...,0.022799,0.013420,0.003189,0.004335,0.005082,0.026877,0.020700,0.019190,0.022818,0.025338
max,0.714275,0.118659,0.297856,0.095522,0.299703,0.310720,0.125163,0.103783,0.083582,0.185439,...,0.220516,0.214152,0.122917,0.244392,0.272771,0.314319,0.257787,0.162863,0.400499,0.214766