In [26]:
import import_ipynb
import Basedados

In [27]:
Basedados.df_bov

           data
0    2019-01-02
1    2019-01-03
2    2019-01-04
3    2019-01-07
4    2019-01-08
..          ...
738  2021-12-23
739  2021-12-27
740  2021-12-28
741  2021-12-29
742  2021-12-30

[743 rows x 1 columns]

aline